:root {
  font-family: 'Roboto Flex', sans-serif;
  color: $_main_color;
  background: $_main_bg_color;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

html {
  scroll-behavior: smooth;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.container {
  width: 100%;
  max-width: 375px;
  padding-right: 16px;
  padding-left: 16px;
  margin-left: auto;
  margin-right: auto;

  @include media(desktop) {
    max-width: 1440px;
    padding-right: 80px;
    padding-left: 80px;
  }
}

.section {
  scroll-margin-top: 40px;

  @include media(desktop) {
    scroll-margin-top: 36px;
  }
}

.section-title-wrapper {
  background: linear-gradient(
    90deg,
    #222 0%,
    #846cb5 55%,
    #239fb8 65%,
    #4d9d48 75%,
    #e18a4b 85%,
    #eacf63 95%
  );
  padding-top: 40px;
  padding-bottom: 16px;

  @include media(desktop) {
  }
}

.section-title-container {
  @include media(desktop) {
  }
}

.section-title {
  font-family: 'Roboto Flex', sans-serif;
  font-weight: 500;
  font-size: 14px;
  color: #fcfcfc;

  @include media(desktop) {
  }
}

.section-subtitle {
  font-family: 'Roboto Flex', sans-serif;
  font-weight: 500;
  font-size: 32px;
  line-height: 1.5;
  text-align: center;
  color: #222;
  margin-bottom: 32px;

  @include media(desktop) {
    margin-bottom: 40px;
  }
}
