.clarity-section {
  background: #c8c9db;
}

.clarity-bg-wrapper {
  padding-top: 48px;
  padding-bottom: 48px;

  @include media(desktop) {
    padding-top: 56px;
    padding-bottom: 72px;
  }
}

.clarity-container {
}

.clarity-title-wrapper {
  @include media(desktop) {
  }
}

.clarity-title {
  @include media(desktop) {
  }
}

.clarity-content-wrapper {
  @include media(desktop) {
  }
}

.clarity-subtitle {
  @include media(desktop) {
  }
}

.clarity-text {
  font-family: 'Roboto Flex', sans-serif;
  font-weight: 300;
  font-size: 20px;
  line-height: 1.5;
  text-align: center;
  color: #222;
  margin-bottom: 24px;

  @include media(desktop) {
    margin-bottom: 32px;
  }
}

.clarity-text-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;

  @include media(desktop) {
    flex-direction: row;
    justify-content: center;
    gap: 24px;
    width: 100%;
  }
}

.clarity-img {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 24px;

  @include media(desktop) {
    min-width: 266px;
    margin: 0;
    order: 2;
  }
}

.clarity-list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;

  @include media(desktop) {
    flex-direction: column;
    gap: 24px;
    width: 100%;
    max-width: 240px;
  }
}

.clarity-list-item {
  border-radius: 0 0 8px 8px;
  border: 1px solid transparent;
  background:
    linear-gradient(180deg, #c8c9db 0%, #e9e9f8 80%) padding-box,
    linear-gradient(
        to bottom,
        transparent 0%,
        #eacf63 20%,
        #e18a4b 40%,
        #4d9d48 60%,
        #239fb8 80%,
        #846cb5 100%
      )
      border-box;
  padding: 32px;
  width: 100%;
  max-width: 160px;

  @include media(desktop) {
    max-width: 240px;
  }
}

.clarity-top-list {
  margin-bottom: 16px;

  @include media(desktop) {
    margin-bottom: 0;
    order: 1;
  }
}

.clarity-bottom-list {
  @include media(desktop) {
    order: 3;
  }
}

.clarity-item-text {
  font-family: 'Roboto Flex', sans-serif;
  font-weight: 300;
  font-size: 14px;
  line-height: 1.5;
  text-align: center;
  color: #222;

  @include media(desktop) {
  }
}
