.contact-section {
  @include media(desktop) {
  }
}

.contact-bg-wrapper {
  padding-top: 48px;
  padding-bottom: 48px;

  @include media(desktop) {
    padding-top: 56px;
    padding-bottom: 72px;
  }
}

.contact-container {
}

.contact-title-wrapper {
  @include media(desktop) {
  }
}

.contact-title {
  @include media(desktop) {
  }
}

.contact-content-wrapper {
  @include media(desktop) {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.contact-subtitle {
  font-family: 'Roboto Flex', sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.5;
  text-align: center;
  color: #222;
  margin-bottom: 24px;

  @include media(desktop) {
    margin-bottom: 0;
  }
}

.contact-text {
  font-family: 'Roboto Flex', sans-serif;
  font-weight: 300;
  font-size: 14px;
  line-height: 1.5;
  text-align: center;
  color: #222;
  margin-bottom: 16px;

  @include media(desktop) {
    margin-left: 80px;
    margin-bottom: 0;
  }
}

.contact-email-link {
  font-family: 'Roboto Flex', sans-serif;
  font-weight: 300;
  font-size: 14px;
  line-height: 1.5;
  color: #222;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;

  @include media(desktop) {
    margin-left: 24px;
  }
}

.email-icon {
  min-width: 16px;

  @include media(desktop) {
  }
}
