.features-section {
  background: #ade5f6;
  background-image: url(../img/features/features-img-mob.png);
  background-repeat: no-repeat;
  background-position: bottom center;
  background-size: auto;

  @include media(desktop) {
    background-image: url(../img/features/features-img-desk.png);
  }
}

.features-bg-wrapper {
  padding-top: 32px;
  padding-bottom: 213px;

  @include media(desktop) {
    padding-top: 24px;
    padding-bottom: 629px;
  }
}

.features-container {
  @include media(desktop) {
  }
}

.features-title-wrapper {
  @include media(desktop) {
  }
}

.features-title {
  @include media(desktop) {
  }
}

.features-content-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;

  @include media(desktop) {
  }
}

.features-text-wrapper {
  @include media(desktop) {
  }
}

.features-subtitle {
  @include media(desktop) {
  }
}

.features-text {
  font-family: 'Nunito', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.7;
  text-align: center;
  color: #221638;
  margin-bottom: 16px;

  @include media(desktop) {
    margin-bottom: 24px;
  }
}

.features-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 12px;
  max-width: max-content;
  margin-left: auto;
  margin-right: auto;

  @include media(desktop) {
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    gap: 12px;
  }
}

.features-list-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  width: 100%;
  max-width: 160px;

  @include media(desktop) {
    flex-direction: row;
    max-width: max-content;
  }
}

.features-icon {
  min-width: 24px;

  @include media(desktop) {
  }
}

.features-item-text {
  font-family: 'Nunito', sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.4;
  text-align: center;
  color: #221638;

  @include media(desktop) {
    font-size: 14px;
  }
}
