.gameplay-section {
}

.gameplay-bg-wrapper {
  padding-top: 56px;
  padding-bottom: 199px;
  max-width: 375px;
  margin-left: auto;
  margin-right: auto;
  background-image: url(../img/gameplay/gameplay-bg-mob.png);
  background-repeat: no-repeat;
  background-position: bottom center;
  background-size: auto;

  @include media(desktop) {
    padding-top: 56px;
    padding-bottom: 557px;
    max-width: 1440px;
    background-image: url(../img/gameplay/gameplay-bg-desk.png);
  }
}

.gameplay-container {
}

.gameplay-title-wrapper {
  @include media(desktop) {
  }
}

.gameplay-title {
  @include media(desktop) {
  }
}

.gameplay-content-wrapper {
  @include media(desktop) {
  }
}

.gameplay-text-wrapper {
  @include media(desktop) {
  }
}

.gameplay-subtitle {
  @include media(desktop) {
  }
}

.gameplay-top-text {
  font-family: 'Roboto Flex', sans-serif;
  font-weight: 300;
  font-size: 20px;
  line-height: 1.5;
  text-align: center;
  color: #222;
  margin-bottom: 24px;

  @include media(desktop) {
  }
}

.gameplay-text {
  font-family: 'Roboto Flex', sans-serif;
  font-weight: 300;
  font-size: 14px;
  line-height: 1.5;
  text-align: center;
  color: #222;

  @include media(desktop) {
  }
}
