.goals-section {
  background: #ade5f6;
}

.goals-bg-wrapper {
  padding-top: 32px;
  padding-bottom: 48px;

  @include media(desktop) {
    padding-top: 24px;
    padding-bottom: 72px;
  }
}

.goals-container {
}

.goals-title-wrapper {
  @include media(desktop) {
  }
}

.goals-title {
  @include media(desktop) {
  }
}

.goals-content-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;

  @include media(desktop) {
    flex-direction: row;
    justify-content: center;
    gap: 20px;
  }
}

.goals-text-wrapper {
  @include media(desktop) {
    max-width: 635px;
  }
}

.goals-subtitle {
  @include media(desktop) {
    text-align: left;
  }
}

.goals-text {
  font-family: 'Nunito', sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.7;
  text-align: center;
  color: #221638;
  margin-bottom: 16px;

  @include media(desktop) {
    text-align: left;
    margin-bottom: 24px;
  }
}

.goals-list {
  display: flex;
  flex-direction: column;
  gap: 8px;
  max-width: max-content;
  margin-left: auto;
  margin-right: auto;

  @include media(desktop) {
    flex-direction: row;
    align-items: center;
    gap: 12px;
    margin: 0;
  }
}

.goals-list-item {
  display: flex;
  align-items: center;
  gap: 8px;

  @include media(desktop) {
  }
}

.goals-icon {
  min-width: 24px;

  @include media(desktop) {
  }
}

.goals-item-text {
  font-family: 'Nunito', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.4;
  color: #221638;

  @include media(desktop) {
  }
}

.goals-img {
  @include media(desktop) {
    min-width: 341px;
  }
}
