.hero-section {
  background: linear-gradient(180deg, #e1e3f1 0%, #d5cde2 100%);

  @include media(desktop) {
  }
}

.hero-bg-wrapper {
  padding-top: 88px;
  padding-bottom: 48px;
  max-width: 375px;
  margin-left: auto;
  margin-right: auto;
  background-image: url(../img/hero/hero-bg-mob.png);
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;

  @include media(desktop) {
    padding-top: 196px;
    padding-bottom: 160px;
    max-width: 1440px;
    background-image: url(../img/hero/hero-bg-desk.png);
  }
}

.hero-container {
  @include media(desktop) {
    padding: 0 104px;
  }
}

.hero-content-wrapper {
  @include media(desktop) {
    max-width: 605px;
    margin-left: auto;
  }
}

.hero-main-title {
  font-family: 'Roboto Flex', sans-serif;
  font-weight: 500;
  font-size: 48px;
  line-height: 1.5;
  text-align: center;
  color: #222;
  margin-bottom: 246px;

  @include media(desktop) {
    font-size: 48px;
    text-align: left;
    margin-bottom: 48px;
  }
}

.hero-subtitle {
  font-family: 'Roboto Flex', sans-serif;
  font-weight: 300;
  font-size: 24px;
  line-height: 1.5;
  text-align: center;
  color: #222;
  margin-bottom: 20px;

  @include media(desktop) {
    font-size: 24px;
    text-align: left;
    margin-bottom: 32px;
  }
}

.hero-text {
  font-family: 'Roboto Flex', sans-serif;
  font-weight: 300;
  font-size: 14px;
  line-height: 1.5;
  text-align: center;
  color: #222;
  margin-bottom: 32px;

  @include media(desktop) {
    text-align: left;
    margin-bottom: 48px;
  }
}

.hero-btn {
  box-shadow: 1px 2px 2px 0 rgba(15, 15, 15, 0.5);
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: max-content;
  margin-left: auto;
  margin-right: auto;

  @include media(desktop) {
    margin: 0;
  }
}
