.policy-section {
  @include media(desktop) {
  }
}

.policy-title-wrapper {
  background: linear-gradient(
    90deg,
    #5e5e5e 0%,
    #846cb5 20%,
    #239fb8 40%,
    #4d9d48 60%,
    #e18a4b 80%,
    #eacf63 100%
  );
  padding-top: 100px;
  padding-bottom: 16px;

  @include media(desktop) {
    padding-top: 120px;
  }
}

.policy-bg-wrapper {
  background: #e9e9f8;
  padding-top: 40px;
  padding-bottom: 40px;

  @include media(desktop) {
    padding-top: 56px;
    padding-bottom: 56px;
  }
}

.policy-main-title {
  text-shadow: 0 1px 2px 0 rgba(34, 34, 34, 0.6);
  font-family: 'Roboto Flex', sans-serif;
  font-weight: 500;
  font-size: 32px;
  text-align: center;
  color: #fcfcfc;

  @include media(desktop) {
    font-size: 40px;
  }
}

.policy-title {
  font-family: 'Roboto Flex', sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.4;
  color: #222;
  margin-bottom: 16px;

  @include media(desktop) {
  }
}

.policy-text {
  font-family: 'Roboto Flex', sans-serif;
  font-weight: 300;
  font-size: 14px;
  line-height: 1.4;
  color: #222;

  &:not(:last-child) {
    margin-bottom: 16px;
  }

  @include media(desktop) {
  }
}

.policy-list {
  list-style-type: disc;
  padding-left: 20px;
}

.policy-item {
  font-family: 'Roboto Flex', sans-serif;
  font-weight: 300;
  font-size: 14px;
  line-height: 1.4;
  color: #222;
  margin-bottom: 8px;

  &:last-child {
    margin-bottom: 16px;
  }

  @include media(desktop) {
  }
}

.policy-span {
  text-decoration: underline;
}

.policy-link {
  text-decoration: underline;
  word-wrap: break-word;
}
