.privacy-header {
  background: linear-gradient(
    90deg,
    #5e5e5e 0%,
    #846cb5 20%,
    #239fb8 40%,
    #4d9d48 60%,
    #e18a4b 80%,
    #eacf63 100%
  );
  padding-top: 12px;
  padding-bottom: 12px;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 10;

  @include media(desktop) {
  }
}

.privacy-header-link {
  display: flex;
  align-items: center;
  gap: 12px;
  font-family: 'Roboto Flex', sans-serif;
  font-weight: 300;
  font-size: 14px;
  line-height: 1.4;
  text-align: center;
  color: #fcfcfc;
  max-width: max-content;

  @include media(desktop) {
  }
}

.arrow-back-icon {
}
