<section class="section audience-section" id="audience">
  <div class="section-title-wrapper audience-title-wrapper">
    <div class="container section-title-container">
      <h2 class="section-title audience-title">Who This Game Is For</h2>
    </div>
  </div>
  <div class="audience-bg-wrapper">
    <div class="container audience-container">
      <div class="audience-content-wrapper">
        <p class="section-subtitle audience-subtitle">Where Focus Feels Good</p>
        <p class="audience-text">
          Hexa Puzzle is not about speed.<br />
          It’s about clarity. It’s perfect for:
        </p>
        <ul class="audience-list">
          <li class="audience-list-item">
            <picture>
              <source
                srcset="./img/audience/audience-img1-desk.png"
                media="(min-width: 1440px)"
                width="120"
                height="120" />
              <source
                srcset="./img/audience/audience-img1-mob.png"
                width="80"
                height="80" />
              <img
                class="audience-img"
                src="./img/audience/audience-img1-mob.png"
                alt="Screenshot of the game"
                width="80"
                height="80"
                loading="lazy"
            /></picture>
            <p class="audience-item-text">Fans of relaxing block puzzles</p>
          </li>
          <li class="audience-list-item">
            <picture>
              <source
                srcset="./img/audience/audience-img2-desk.png"
                media="(min-width: 1440px)"
                width="120"
                height="120" />
              <source
                srcset="./img/audience/audience-img2-mob.png"
                width="80"
                height="80" />
              <img
                class="audience-img"
                src="./img/audience/audience-img2-mob.png"
                alt="Screenshot of the game"
                width="80"
                height="80"
                loading="lazy"
            /></picture>
            <p class="audience-item-text">Players who enjoy spatial logic</p>
          </li>
          <li class="audience-list-item">
            <picture>
              <source
                srcset="./img/audience/audience-img3-desk.png"
                media="(min-width: 1440px)"
                width="120"
                height="120" />
              <source
                srcset="./img/audience/audience-img3-mob.png"
                width="80"
                height="80" />
              <img
                class="audience-img"
                src="./img/audience/audience-img3-mob.png"
                alt="Screenshot of the game"
                width="80"
                height="80"
                loading="lazy"
            /></picture>
            <p class="audience-item-text">Quick mental resets</p>
          </li>
          <li class="audience-list-item">
            <picture>
              <source
                srcset="./img/audience/audience-img4-mob.png"
                media="(min-width: 1440px)"
                width="120"
                height="120" />
              <source
                srcset="./img/audience/audience-img4-desk.png"
                width="80"
                height="80" />
              <img
                class="audience-img"
                src="./img/audience/audience-img4-mob.png"
                alt="Screenshot of the game"
                width="80"
                height="80"
                loading="lazy"
            /></picture>
            <p class="audience-item-text">Long calming sessions</p>
          </li>
          <li class="audience-list-item">
            <picture>
              <source
                srcset="./img/audience/audience-img5-desk.png"
                media="(min-width: 1440px)"
                width="120"
                height="120" />
              <source
                srcset="./img/audience/audience-img5-mob.png"
                width="80"
                height="80" />
              <img
                class="audience-img"
                src="./img/audience/audience-img5-mob.png"
                alt="Screenshot of the game"
                width="80"
                height="80"
                loading="lazy"
            /></picture>
            <p class="audience-item-text">Minimal aesthetic lovers</p>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
