<section class="section audience-section" id="audience">
  <div class="section-title-wrapper audience-title-wrapper">
    <picture>
      <source
        srcset="./img/common/wave-top-grey-desk.png"
        media="(min-width: 1440px)"
        width="1440"
        height="88" />
      <source
        srcset="./img/common/wave-top-grey-mob.png"
        width="375"
        height="40" />
      <img
        class="wave-img"
        src="./img/common/wave-top-grey-mob.png"
        alt="Wave"
        width="375"
        height="40"
    /></picture>
    <div class="container section-title-container">
      <h2 class="section-title audience-title">Perfect For</h2>
    </div>
  </div>
  <div class="audience-bg-wrapper">
    <div class="container audience-container">
      <div class="audience-content-wrapper">
        <p class="section-subtitle audience-subtitle">
          Perfect Match with Everyone
        </p>
        <p class="audience-text">
          Play for a few minutes or enjoy a long candy session. Soft Sweets
          Puzzle is ideal for:
        </p>
        <div class="audience-text-wrapper">
          <ul class="audience-list">
            <li class="audience-list-item">
              <p class="audience-item-text">Match-3 fans</p>
            </li>
            <li class="audience-list-item">
              <p class="audience-item-text">Casual gamers</p>
            </li>
            <li class="audience-list-item">
              <p class="audience-item-text">Puzzle lovers</p>
            </li>
            <li class="audience-list-item">
              <p class="audience-item-text">
                Anyone who enjoys cute, relaxing challenges
              </p>
            </li>
          </ul>
          <picture>
            <source
              srcset="./img/audience/audience-img-mob.png"
              media="(min-width: 1440px)"
              width="273"
              height="273" />
            <source
              srcset="./img/audience/audience-img-mob.png"
              width="283"
              height="283" />
            <img
              class="audience-img"
              src="./img/audience/audience-img-mob.png"
              alt="Screenshot of the game"
              width="283"
              height="283"
              loading="lazy"
          /></picture>
        </div>
      </div>
    </div>
  </div>
</section>
