<section class="section boosters-section" id="boosters">
  <div class="section-title-wrapper boosters-title-wrapper">
    <picture>
      <source
        srcset="./img/common/wave-top-blue-desk.png"
        media="(min-width: 1440px)"
        width="1440"
        height="88" />
      <source
        srcset="./img/common/wave-top-blue-mob.png"
        width="375"
        height="40" />
      <img
        class="wave-img"
        src="./img/common/wave-top-blue-mob.png"
        alt="Wave"
        width="375"
        height="40"
    /></picture>
    <div class="container section-title-container">
      <h2 class="section-title boosters-title">Power-Ups & Boosters</h2>
    </div>
  </div>
  <div class="boosters-bg-wrapper">
    <div class="container boosters-container">
      <div class="boosters-content-wrapper">
        <div class="boosters-text-wrapper">
          <p class="section-subtitle boosters-subtitle">Sweet Helpers</p>
          <p class="boosters-text">
            Save your boosters for when you're really stuck - they can be total
            game-changers when you're one move away from failing. When puzzles
            get tricky, use special tools:
          </p>
          <ul class="boosters-list">
            <li class="boosters-list-item">
              <div class="boosters-img-wrapper">
                <picture>
                  <source
                    srcset="./img/boosters/boosters-img1-desk.png"
                    media="(min-width: 1440px)"
                    width="96"
                    height="100" />
                  <source
                    srcset="./img/boosters/boosters-img1-mob.png"
                    width="67"
                    height="70" />
                  <img
                    class="boosters-img"
                    src="./img/boosters/boosters-img1-mob.png"
                    alt="Screenshot of the game"
                    width="67"
                    height="70"
                    loading="lazy"
                /></picture>
              </div>
              <p class="boosters-item-text">
                Honey Blast:<br class="boosters-item-text-br" />
                Melt away a whole patch
              </p>
            </li>
            <li class="boosters-list-item">
              <div class="boosters-img-wrapper">
                <picture>
                  <source
                    srcset="./img/boosters/boosters-img2-desk.png"
                    media="(min-width: 1440px)"
                    width="73"
                    height="100" />
                  <source
                    srcset="./img/boosters/boosters-img2-mob.png"
                    width="51"
                    height="70" />
                  <img
                    class="boosters-img"
                    src="./img/boosters/boosters-img2-mob.png"
                    alt="Screenshot of the game"
                    width="51"
                    height="70"
                    loading="lazy"
                /></picture>
              </div>
              <p class="boosters-item-text">
                Bear Swap:<br class="boosters-item-text-br" />
                Switch two stubborn gummies
              </p>
            </li>
            <li class="boosters-list-item">
              <div class="boosters-img-wrapper">
                <picture>
                  <source
                    srcset="./img/boosters/boosters-img3-desk.png"
                    media="(min-width: 1440px)"
                    width="80"
                    height="100" />
                  <source
                    srcset="./img/boosters/boosters-img3-mob.png"
                    width="56"
                    height="70" />
                  <img
                    class="boosters-img"
                    src="./img/boosters/boosters-img3-mob.png"
                    alt="Screenshot of the game"
                    width="56"
                    height="70"
                    loading="lazy"
                /></picture>
              </div>
              <p class="boosters-item-text">
                Additional boosters:<br class="boosters-item-text-br" />
                unlock as you progress
              </p>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
