<section class="section clarity-section" id="clarity">
  <div class="section-title-wrapper clarity-title-wrapper">
    <div class="container section-title-container">
      <h2 class="section-title clarity-title">Crystal Clarity</h2>
    </div>
  </div>
  <div class="clarity-bg-wrapper">
    <div class="container clarity-container">
      <div class="clarity-content-wrapper">
        <p class="section-subtitle clarity-subtitle">Polished Depth & Light</p>
        <p class="clarity-text">
          The blocks are pretty shiny and look really good against whatever
          background they use.<br />
          The piece shapes give you hints about where they – nothing too
          complicated.
        </p>
        <div class="clarity-text-wrapper">
          <img
            class="clarity-img"
            src="./img/clarity/clarity-img.png"
            alt="Screenshot of the game"
            width="266"
            height="231"
            loading="lazy"
          />
          <ul class="clarity-list clarity-top-list">
            <li class="clarity-list-item">
              <p class="clarity-item-text">Soft lighting reflections</p>
            </li>
            <li class="clarity-list-item">
              <p class="clarity-item-text">Smooth 3D transitions</p>
            </li>
          </ul>
          <ul class="clarity-list clarity-bottom-list">
            <li class="clarity-list-item">
              <p class="clarity-item-text">Crystal-like textures</p>
            </li>
            <li class="clarity-list-item">
              <p class="clarity-item-text">Gentle clearing animations</p>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
