<section class="section contact-section" id="contact">
  <div class="section-title-wrapper contact-title-wrapper">
    <picture>
      <source
        srcset="./img/common/wave-top-light-desk.png"
        media="(min-width: 1440px)"
        width="1440"
        height="88" />
      <source
        srcset="./img/common/wave-top-light-mob.png"
        width="375"
        height="40" />
      <img
        class="wave-img"
        src="./img/common/wave-top-light-mob.png"
        alt="Wave"
        width="375"
        height="40"
    /></picture>
    <div class="container section-title-container">
      <h2 class="section-title contact-title">Contact</h2>
    </div>
  </div>
  <div class="contact-bg-wrapper">
    <div class="container contact-container">
      <div class="contact-content-wrapper">
        <p class="section-subtitle contact-subtitle">Contact & Support</p>
        <p class="contact-text">
          Need assistance or have sweet suggestions? We’re happy to hear your
          feedback and improve your gummy adventure.
        </p>
        <a href="mailto:info@softborder.online" class="contact-email-link">
          <svg class="email-icon" width="20" height="16">
            <use href="./img/sprite.svg#icon-email"></use></svg
          ><span>info@softborder.online</span></a
        >
      </div>
    </div>
  </div>
</section>
