<section class="section contact-section" id="contact">
  <div class="section-title-wrapper contact-title-wrapper">
    <div class="container section-title-container">
      <h2 class="section-title contact-title">Contact</h2>
    </div>
  </div>
  <div class="contact-bg-wrapper">
    <div class="container contact-container">
      <div class="contact-content-wrapper">
        <p class="contact-subtitle">Contact & Support</p>
        <p class="contact-text">
          Questions, feedback, or suggestions? Let us know what you think -
          we're always looking to improve!
        </p>
        <a href="mailto:info@softfield.pro" class="contact-email-link">
          <svg class="email-icon" width="16" height="12">
            <use href="./img/sprite.svg#icon-email"></use></svg
          ><span>info@softfield.pro</span></a
        >
      </div>
    </div>
  </div>
</section>
