<section class="section cta-section" id="cta">
  <div class="section-title-wrapper cta-title-wrapper">
    <div class="container section-title-container"></div>
  </div>
  <div class="cta-bg-wrapper">
    <div class="container cta-container">
      <div class="cta-text-wrapper">
        <p class="section-subtitle cta-subtitle">Clear. Relax. Enjoy.</p>
        <p class="cta-text">
          Shift the crystals. Open the board. Find your rhythm.<br />
          Download Hexa Puzzle: Crystal Blocks 3D today.
        </p>
        <a
          class="hero-btn cta-btn"
          target="_blank"
          href="https://play.google.com/store/apps/details?id=com.playbegames.hexa.puzzle.crystal.blocks.game&hl=en&gl=us"
          rel="noopener noreferrer"
          aria-label="Download on Google Play"
        >
          <img
            class="cta-play-img"
            src="./img/hero/hero-play-img.png"
            alt="Google Play"
            width="240"
            height="72"
          />
        </a>
      </div>
      <picture>
        <source
          srcset="./img/cta/cta-img-desk.png"
          media="(min-width: 1440px)"
          width="1191"
          height="517" />
        <source srcset="./img/cta/cta-img-mob.png" width="375" height="229" />
        <img
          class="cta-img"
          src="./img/cta/cta-img-mob.png"
          alt="Screenshot of the game"
          width="375"
          height="229"
          loading="lazy"
      /></picture>
    </div>
  </div>
</section>
