<section class="section faq-section" id="faq">
  <div class="section-title-wrapper faq-title-wrapper">
    <picture>
      <source
        srcset="./img/common/wave-top-blue-desk.png"
        media="(min-width: 1440px)"
        width="1440"
        height="88" />
      <source
        srcset="./img/common/wave-top-blue-mob.png"
        width="375"
        height="40" />
      <img
        class="wave-img"
        src="./img/common/wave-top-blue-mob.png"
        alt="Wave"
        width="375"
        height="40"
    /></picture>
    <div class="container section-title-container">
      <h2 class="section-title faq-title">FAQ</h2>
    </div>
  </div>
  <div class="faq-bg-wrapper">
    <div class="container faq-container">
      <p class="section-subtitle faq-subtitle">Frequently Asked Questions</p>
      <ul class="faq-list">
        <li class="faq-list-item">
          <div class="faq-item-question-wrapper">
            <button class="faq-top-text-btn">
              <span class="faq-btn-text"
                >Is Soft Sweets Puzzle free to play?</span
              >
              <span class="faq-toggle-symbol"
                ><svg class="faq-icon" width="23" height="20">
                  <use href="./img/sprite.svg#icon-gummy"></use></svg
              ></span>
            </button>
          </div>
          <div class="faq-item-answer-wrapper">
            <p class="faq-bottom-text">
              Yes, the game is free to download and play. Some optional boosters
              or features may be available as in-app purchases. However, the
              core puzzle experience can be enjoyed without spending anything.
              Players can progress steadily through skill and strategy.
            </p>
          </div>
        </li>
        <li class="faq-list-item">
          <div class="faq-item-question-wrapper">
            <button class="faq-top-text-btn">
              <span class="faq-btn-text">How many levels are available?</span>
              <span class="faq-toggle-symbol"
                ><svg class="faq-icon" width="23" height="20">
                  <use href="./img/sprite.svg#icon-gummy"></use></svg
              ></span>
            </button>
          </div>
          <div class="faq-item-answer-wrapper">
            <p class="faq-bottom-text">
              There are tons of levels - like hundreds of them. They keep adding
              more with updates too. The difficulty gradually increases as you
              advance. There is always a fresh challenge waiting.
            </p>
          </div>
        </li>
        <li class="faq-list-item">
          <div class="faq-item-question-wrapper">
            <button class="faq-top-text-btn">
              <span class="faq-btn-text">Are there difficult obstacles?</span>
              <span class="faq-toggle-symbol"
                ><svg class="faq-icon" width="23" height="20">
                  <use href="./img/sprite.svg#icon-gummy"></use></svg
              ></span>
            </button>
          </div>
          <div class="faq-item-answer-wrapper">
            <p class="faq-bottom-text">
              Yes. As you progress, you’ll encounter layered borders, stuck
              gummies, and more complex board layouts. These obstacles require
              smart matching and careful planning. Strategic combos become
              essential.
            </p>
          </div>
        </li>
        <li class="faq-list-item">
          <div class="faq-item-question-wrapper">
            <button class="faq-top-text-btn">
              <span class="faq-btn-text">Can I play offline?</span>
              <span class="faq-toggle-symbol"
                ><svg class="faq-icon" width="23" height="20">
                  <use href="./img/sprite.svg#icon-gummy"></use></svg
              ></span>
            </button>
          </div>
          <div class="faq-item-answer-wrapper">
            <p class="faq-bottom-text">
              Yes, Soft Sweets Puzzle supports offline gameplay. Once installed,
              you can enjoy the game without an internet connection. This makes
              it perfect for travel or relaxing at home.
            </p>
          </div>
        </li>
        <li class="faq-list-item">
          <div class="faq-item-question-wrapper">
            <button class="faq-top-text-btn">
              <span class="faq-btn-text"
                >What Android version is required?</span
              >
              <span class="faq-toggle-symbol"
                ><svg class="faq-icon" width="23" height="20">
                  <use href="./img/sprite.svg#icon-gummy"></use></svg
              ></span>
            </button>
          </div>
          <div class="faq-item-answer-wrapper">
            <p class="faq-bottom-text">
              The game requires Android 8.0 or higher for smooth performance.
              This ensures stable animations and responsive gameplay.
            </p>
          </div>
        </li>
        <li class="faq-list-item">
          <div class="faq-item-question-wrapper">
            <button class="faq-top-text-btn">
              <span class="faq-btn-text">Are boosters necessary to win?</span>
              <span class="faq-toggle-symbol"
                ><svg class="faq-icon" width="23" height="20">
                  <use href="./img/sprite.svg#icon-gummy"></use></svg
              ></span>
            </button>
          </div>
          <div class="faq-item-answer-wrapper">
            <p class="faq-bottom-text">
              Boosters help in challenging situations, but they are not
              mandatory. You can usually figure out most levels if you just
              think about it for a minute. But yeah, the boosters definitely
              help when you hit a wall.
            </p>
          </div>
        </li>
      </ul>
    </div>
  </div>
</section>
