<section class="section features-section" id="features">
  <div class="section-title-wrapper features-title-wrapper">
    <picture>
      <source
        srcset="./img/common/wave-top-caramel-desk.png"
        media="(min-width: 1440px)"
        width="1440"
        height="88" />
      <source
        srcset="./img/common/wave-top-caramel-mob.png"
        width="375"
        height="40" />
      <img
        class="wave-img"
        src="./img/common/wave-top-caramel-mob.png"
        alt="Wave"
        width="375"
        height="40"
    /></picture>
    <div class="container section-title-container">
      <h2 class="section-title features-title">Charming Grove</h2>
    </div>
  </div>
  <div class="features-bg-wrapper">
    <div class="container features-container">
      <div class="features-content-wrapper">
        <div class="features-text-wrapper">
          <p class="section-subtitle features-subtitle">A Cozy Candy World</p>
          <p class="features-text">
            It’s not just a puzzle game — it’s a warm, playful escape. Enjoy:
          </p>
          <ul class="features-list">
            <li class="features-list-item">
              <svg class="features-icon" width="24" height="24">
                <use href="./img/sprite.svg#icon-star"></use>
              </svg>
              <p class="features-item-text">Cheerful pastel graphics</p>
            </li>
            <li class="features-list-item">
              <svg class="features-icon" width="24" height="24">
                <use href="./img/sprite.svg#icon-star"></use>
              </svg>
              <p class="features-item-text">Smooth animations</p>
            </li>
            <li class="features-list-item">
              <svg class="features-icon" width="24" height="24">
                <use href="./img/sprite.svg#icon-star"></use>
              </svg>
              <p class="features-item-text">Relaxing background music</p>
            </li>
            <li class="features-list-item">
              <svg class="features-icon" width="24" height="24">
                <use href="./img/sprite.svg#icon-star"></use>
              </svg>
              <p class="features-item-text">
                Friendly Candy Friend Coco cheering you on
              </p>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
