<section class="section gameplay-section" id="gameplay">
  <div class="section-title-wrapper gameplay-title-wrapper">
    <picture>
      <source
        srcset="./img/common/wave-top-blue-desk.png"
        media="(min-width: 1440px)"
        width="1440"
        height="88" />
      <source
        srcset="./img/common/wave-top-blue-mob.png"
        width="375"
        height="40" />
      <img
        class="wave-img"
        src="./img/common/wave-top-blue-mob.png"
        alt="Wave"
        width="375"
        height="40"
    /></picture>
    <div class="container section-title-container">
      <h2 class="section-title gameplay-title">Gummy Matching</h2>
    </div>
  </div>
  <div class="gameplay-bg-wrapper">
    <div class="container gameplay-container">
      <div class="gameplay-content-wrapper">
        <div class="gameplay-text-wrapper">
          <p class="section-subtitle gameplay-subtitle">Sweet Match-3 Action</p>
          <div class="gameplay-list-wrapper">
            <p class="gameplay-text">
              Line up three or more and watch 'em pop - super satisfying and
              clears up space on your tray. When you get a match, the little
              animations are surprisingly satisfying - like popping bubble wrap
              but sweeter.<br />
              Swap and line up:
            </p>
            <ul class="gameplay-list">
              <li class="gameplay-list-item">
                <svg class="gameplay-icon" width="23" height="20">
                  <use href="./img/sprite.svg#icon-gummy"></use>
                </svg>
                <p class="gameplay-item-text">Red gummy bears</p>
              </li>
              <li class="gameplay-list-item">
                <svg class="gameplay-icon" width="23" height="20">
                  <use href="./img/sprite.svg#icon-gummy"></use>
                </svg>
                <p class="gameplay-item-text">Green gummy bears</p>
              </li>
              <li class="gameplay-list-item">
                <svg class="gameplay-icon" width="23" height="20">
                  <use href="./img/sprite.svg#icon-gummy"></use>
                </svg>
                <p class="gameplay-item-text">Blue gummy bears</p>
              </li>
              <li class="gameplay-list-item">
                <svg class="gameplay-icon" width="23" height="20">
                  <use href="./img/sprite.svg#icon-gummy"></use>
                </svg>
                <p class="gameplay-item-text">Purple gummy bears</p>
              </li>
              <li class="gameplay-list-item">
                <svg class="gameplay-icon" width="23" height="20">
                  <use href="./img/sprite.svg#icon-gummy"></use>
                </svg>
                <p class="gameplay-item-text">Yellow gummy bears</p>
              </li>
            </ul>
          </div>
        </div>
        <picture>
          <source
            srcset="./img/gameplay/gameplay-img-desk.png"
            media="(min-width: 1440px)"
            width="186"
            height="270" />
          <source
            srcset="./img/gameplay/gameplay-img-mob.png"
            width="280"
            height="405" />
          <img
            class="gameplay-img"
            src="./img/gameplay/gameplay-img-mob.png"
            alt="Screenshot of the game"
            width="280"
            height="405"
            loading="lazy"
        /></picture>
      </div>
    </div>
  </div>
</section>
