<section class="section goals-section" id="goals">
  <div class="section-title-wrapper goals-title-wrapper">
    <picture>
      <source
        srcset="./img/common/wave-top-light-desk.png"
        media="(min-width: 1440px)"
        width="1440"
        height="88" />
      <source
        srcset="./img/common/wave-top-light-mob.png"
        width="375"
        height="40" />
      <img
        class="wave-img"
        src="./img/common/wave-top-light-mob.png"
        alt="Wave"
        width="375"
        height="40"
    /></picture>
    <div class="container section-title-container">
      <h2 class="section-title goals-title">Puzzle Goals</h2>
    </div>
  </div>
  <div class="goals-bg-wrapper">
    <div class="container goals-container">
      <div class="goals-content-wrapper">
        <div class="goals-text-wrapper">
          <p class="section-subtitle goals-subtitle">Break the Borders</p>
          <div class="goals-list-wrapper">
            <p class="goals-text">
              Every level introduces special squares you must clear. Some of
              those squares are stubborn and need a few hits. You'll need to get
              creative with your combos if you want to actually win. To win:
            </p>
            <ul class="goals-list">
              <li class="goals-list-item">
                <svg class="goals-icon" width="24" height="24">
                  <use href="./img/sprite.svg#icon-star"></use>
                </svg>
                <p class="goals-item-text">Match directly on target tiles</p>
              </li>
              <li class="goals-list-item">
                <svg class="goals-icon" width="24" height="24">
                  <use href="./img/sprite.svg#icon-star"></use>
                </svg>
                <p class="goals-item-text">Break layered borders</p>
              </li>
              <li class="goals-list-item">
                <svg class="goals-icon" width="24" height="24">
                  <use href="./img/sprite.svg#icon-star"></use>
                </svg>
                <p class="goals-item-text">Strategically plan your moves</p>
              </li>
            </ul>
          </div>
        </div>
        <img
          class="goals-img"
          src="./img/goals/goals-img-mob.png"
          alt="Screenshot of the game"
          width="341"
          height="282"
          loading="lazy"
        />
      </div>
    </div>
  </div>
</section>
