<section class="section levels-section" id="levels">
  <div class="section-title-wrapper levels-title-wrapper">
    <div class="container section-title-container">
      <h2 class="section-title levels-title">Handcrafted Levels</h2>
    </div>
  </div>
  <div class="levels-bg-wrapper">
    <div class="container levels-container">
      <div class="levels-content-wrapper">
        <div class="levels-text-wrapper">
          <p class="section-subtitle levels-subtitle">Crafted to Expand</p>
          <p class="levels-text">
            They keep things looking clean but mix up the puzzles so you don't
            get bored. You’re never overwhelmed — only gently challenged. Boards
            gradually introduce:
          </p>
        </div>
        <picture>
          <source
            srcset="./img/levels/levels-img-desk.png"
            media="(min-width: 1440px)"
            width="411"
            height="284" />
          <source
            srcset="./img/levels/levels-img-mob.png"
            width="343"
            height="249" />
          <img
            class="levels-img"
            src="./img/levels/levels-img-mob.png"
            alt="Screenshot of the game"
            width="343"
            height="249"
            loading="lazy"
        /></picture>
      </div>
    </div>
  </div>
</section>
