<div class="context-menu">
  <nav class="context-nav">
    <ul class="context-nav-list">
      <li class="context-list-item">
        <a class="context-list-link" href="./index.html#home">Home</a>
      </li>
      <li class="context-list-item">
        <a class="context-list-link" href="./index.html#pace">Your Own Pace</a>
      </li>
      <li class="context-list-item">
        <a class="context-list-link" href="./index.html#clarity"
          >Crystal Clarity</a
        >
      </li>
      <li class="context-list-item">
        <a class="context-list-link" href="./index.html#gameplay"
          >Satisfying Flow Mechanics</a
        >
      </li>
      <li class="context-list-item">
        <a class="context-list-link" href="./index.html#atmosphere"
          >Calm Atmosphere</a
        >
      </li>
      <li class="context-list-item">
        <a class="context-list-link" href="./index.html#strategy"
          >Strategy & Thinking</a
        >
      </li>
      <li class="context-list-item">
        <a class="context-list-link" href="./index.html#levels"
          >Handcrafted Levels</a
        >
      </li>
      <li class="context-list-item">
        <a class="context-list-link" href="./index.html#audience"
          >Who This Game Is For</a
        >
      </li>
      <li class="context-list-item">
        <a class="context-list-link" href="./index.html#contact">Contact</a>
      </li>
    </ul>
    <ul class="context-privacy-list">
      <li class="context-privacy-item">
        <a class="context-privacy-link" href="./privacy-policy.html"
          >Privacy Policy</a
        >
      </li>
      <li class="context-privacy-item">
        <a class="context-privacy-link" href="./terms-and-conditions.html"
          >Terms & Conditions</a
        >
      </li>
      <li class="context-privacy-item">
        <a class="context-privacy-link" href="./cookies-policy.html"
          >Cookies Policy</a
        >
      </li>
    </ul>
  </nav>
</div>
