<div class="context-menu">
  <nav class="context-nav">
    <ul class="context-nav-list">
      <li class="context-list-item">
        <a class="context-list-link" href="./index.html#home">Home</a>
      </li>
      <li class="context-list-item">
        <a class="context-list-link" href="./index.html#gameplay"
          >Gummy Matching</a
        >
      </li>
      <li class="context-list-item">
        <a class="context-list-link" href="./index.html#goals">Puzzle Goals</a>
      </li>
      <li class="context-list-item">
        <a class="context-list-link" href="./index.html#boosters"
          >Power-Ups & Boosters</a
        >
      </li>
      <li class="context-list-item">
        <a class="context-list-link" href="./index.html#challenge"
          >Growing Challenge</a
        >
      </li>
      <li class="context-list-item">
        <a class="context-list-link" href="./index.html#features"
          >Charming Grove</a
        >
      </li>
      <li class="context-list-item">
        <a class="context-list-link" href="./index.html#audience"
          >Perfect For</a
        >
      </li>
      <li class="context-list-item">
        <a class="context-list-link" href="./index.html#reviews"
          >Testimonials</a
        >
      </li>
      <li class="context-list-item">
        <a class="context-list-link" href="./index.html#faq">FAQ</a>
      </li>
      <li class="context-list-item">
        <a class="context-list-link" href="./index.html#contact">Contact</a>
      </li>
    </ul>
    <ul class="context-privacy-list">
      <li class="context-privacy-item">
        <a class="context-privacy-link" href="./privacy-policy.html"
          >Privacy Policy</a
        >
      </li>
      <li class="context-privacy-item">
        <a class="context-privacy-link" href="./terms-and-conditions.html"
          >Terms & Conditions</a
        >
      </li>
      <li class="context-privacy-item">
        <a class="context-privacy-link" href="./cookies-policy.html"
          >Cookies Policy</a
        >
      </li>
    </ul>
  </nav>
</div>
