<section class="section pace-section" id="pace">
  <div class="section-title-wrapper pace-title-wrapper">
    <div class="container section-title-container">
      <h2 class="section-title pace-title">Your Own Pace</h2>
    </div>
  </div>
  <div class="pace-bg-wrapper">
    <div class="container pace-container">
      <div class="pace-content-wrapper">
        <div class="pace-text-wrapper">
          <p class="section-subtitle pace-subtitle">
            A Puzzle That Moves With You
          </p>
          <p class="pace-text">
            Your goal is simple:<br />
            remove hexa blocks by shifting them in the correct direction. There
            is no rush. The whole board changes based on what you decide to do.
            As pieces move:
          </p>
        </div>
        <img
          class="pace-img"
          src="./img/pace/pace-img.png"
          alt="Screenshot of the game"
          width="290"
          height="288"
          loading="lazy"
        />
      </div>
    </div>
  </div>
</section>
