<section class="section strategy-section" id="strategy">
  <div class="section-title-wrapper strategy-title-wrapper">
    <div class="container section-title-container">
      <h2 class="section-title strategy-title">Strategy & Thinking</h2>
    </div>
  </div>
  <div class="strategy-bg-wrapper">
    <div class="container strategy-container">
      <div class="strategy-content-wrapper">
        <p class="section-subtitle strategy-subtitle">
          Created for Clever Minds
        </p>
        <p class="strategy-text">
          The puzzles get trickier as you go, but they never stress you out.<br />
          Finishing a level gives you that little 'yes!' moment, you know? This
          puzzle trains:
        </p>
        <div class="strategy-text-wrapper">
          <div class="strategy-img-wrapper">
            <picture>
              <source
                srcset="./img/strategy/strategy-img-desk.png"
                media="(min-width: 1440px)"
                width="380"
                height="222" />
              <source
                srcset="./img/strategy/strategy-img-mob.png"
                width="343"
                height="200" />
              <img
                class="strategy-img"
                src="./img/strategy/strategy-img-mob.png"
                alt="Screenshot of the game"
                width="343"
                height="200"
                loading="lazy"
            /></picture>
          </div>
          <ul class="strategy-list strategy-top-list">
            <li class="strategy-list-item">
              <p class="strategy-item-text">Spatial awareness</p>
            </li>
            <li class="strategy-list-item">
              <p class="strategy-item-text">Planning ahead</p>
            </li>
          </ul>
          <ul class="strategy-list strategy-bottom-list">
            <li class="strategy-list-item">
              <p class="strategy-item-text">Pattern recognition</p>
            </li>
            <li class="strategy-list-item">
              <p class="strategy-item-text">Logical sequencing</p>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
